[viewBag]
==
<footer id="contact" class="footer action-lage bg-black ">
    <!--<div class="action-lage"></div>-->
    <div class="container">
        <div class="row">
            <div class="widget_area">
                <div class="col-md-3 p-top-60">
                    <div class="widget_item widget_about">
                        <div class="widget_brand">
                            <a href="/" class="text-uppercase" style="color: #fff;">{{title_web}}</a>
                            <p style="font-size: 12px">{{description}}</p>
                        </div>
                        <!-- <p class="m-top-30">Chúng tôi là một đội ngũ được thành lập để giới thiệu đến bạn những địa điểm đẹp và những dịch vụ du lịch giá tốt nhất. </p> -->
                        <div class="widget_ab_item m-top-30">
                            <div class="item_icon"><i class="fa fa-location-arrow"></i></div>
                            <div class="widget_ab_item_text">
                                <p style="text-align: left;font-size: 14px"> {{address}}</p>
                            </div>
                        </div>
                        <div class="widget_ab_item m-top-30">
                            <div class="item_icon"><i class="fa fa-phone"></i></div>
                            <div class="widget_ab_item_text">
                                <p style="text-align: left;font-size: 14px"> {{hotline}}</p>
                            </div>
                        </div>
                        <div class="widget_ab_item m-top-30">
                            <div class="item_icon"><i class="fa fa-facebook"></i></div>
                            <div class="widget_ab_item_text">
                                <p style="text-align: left;font-size: 14px"> {{link_facebook}}</p>
                            </div>
                        </div>
                        <div class="widget_ab_item m-top-30">
                            <div class="item_icon"><i class="fa fa-envelope-o"></i></div>
                            <div class="widget_ab_item_text">
                                <p style="text-align: left;font-size: 14px"> {{email}}</p>
                            </div>
                        </div>
                    </div><!-- End off widget item -->
                </div><!-- End off col-md-3 -->

                <div class="col-md-3 p-top-60">
                    <div class="widget_item widget_latest sm-m-top-50">
                        <h5 class="text-white">Partner</h5>
                        <!-- <div class="widget_latst_item m-top-30">
                            <div class="item_icon"><img src="assets/images/ltst-img-1.jpg" alt="" /></div>
                            <div class="widget_latst_item_text text-left">
                                <p>IVIVU.COM</p>
                                <a href="">Combo du lịch tuyệt vời</a>
                            </div>
                        </div>
                        <div class="widget_latst_item m-top-30">
                            <div class="item_icon"><img src="assets/images/ltst-img-1.jpg" alt="" /></div>
                            <div class="widget_latst_item_text text-left">
                                <p>IVIVU.COM</p>
                                <a href="">Combo du lịch tuyệt vời</a>
                            </div>
                        </div>
                        <div class="widget_latst_item m-top-30">
                            <div class="item_icon"><img src="assets/images/ltst-img-1.jpg" alt="" /></div>
                            <div class="widget_latst_item_text text-left">
                                <p>IVIVU.COM</p>
                                <a href="">Combo du lịch tuyệt vời</a>
                            </div>
                        </div> -->
                    </div><!-- End off widget item -->
                </div><!-- End off col-md-3 -->

                <div class="col-md-3 p-top-60">
                    <div class="widget_item widget_service sm-m-top-50">
                        <h5 class="text-white">Categories</h5>
                        <ul class="m-top-20">
                            <li class="m-top-20"><a href="/">Home</a></li>
                            <li class="m-top-20"><a href="/travels">Travel</a></li>
                            <li class="m-top-20"><a href="/hotel">Accommodation</a></li>
                            <li class="m-top-20"><a href="/list/cuisine">Food & Beverage</a></li>
                            <li class="m-top-20"><a href="/list/event">Event Today</a></li>
                            <li class="m-top-20"><a href="/list/service-store">Service & Store</a></li>
                        </ul>

                    </div><!-- End off widget item -->
                </div><!-- End off col-md-3 -->

                <div class="col-md-3 p-top-60">
                    <div class="widget_item widget_newsletter sm-m-top-50">
                        <h5 class="text-white">Get new offer</h5>
                        <form class="form-inline m-top-30">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Input your email">
                                <button type="submit" class="btn text-center"><i class="fa fa-arrow-right"></i></button>
                            </div>

                        </form>
                        <div class="widget_brand m-top-40">
                            <a href="" class="text-uppercase">{{title_web}}</a>
                            <p>{{description}}</p>
                        </div>
                        <ul class="list-inline m-top-20">
                            <li>-  <a href="/{{link_facebook}}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="/"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="/"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="/"><i class="fa fa-behance"></i></a></li>
                            <li><a href="/"><i class="fa fa-dribbble"></i></a>  - </li>
                        </ul>

                    </div><!-- End off widget item -->
                </div><!-- End off col-md-3 -->
            </div>
        </div>
    </div>
    <div class="main_footer fix bg-mega text-center p-top-20 p-bottom-20 m-top-60">
        <div class="col-md-12">
            <p class="wow fadeInRight" data-wow-duration="1s" style="font-size: 11px">
                Product with
                <i class="fa fa-heart"></i>
                Powered by
                <a target="_blank" href="https://thienvietjsc.vn/">ThienVietJSC</a> &
                <a target="_blank" href="javascript:">QTeamTravel</a>
                - 2018. All Rights Reserved
            </p>
        </div>
    </div>
</footer>