[viewBag]

==
<!--Home Sections-->

<section id="home" class="home bg-black fix">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="hello">
                        <div class="slid_item">
                            <div class="home_text ">
                                <h1 class="text-yellow">Welcome to 420 Hospitality</h1>
                                <h3 class="text-white text-uppercase">Do more what can make you happy</h3>
                            </div>
                        </div><!-- End off slid item -->

                    </div>
                </div>

            </div>


            <a class="mouse-scroll" href="javascript:">
                <span class="mouse">
                    <span class="mouse-movement"></span>
                </span>
                <span class="mouse-message fadeIn">Kéo xuống</span> <br />
                <!--<i class="fa fa-angle-down m-top-10 fadeIn mouse-message"></i>-->
            </a>

        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Home Sections-->