	<div class="footer custom">
		<div class="wrap_info_footer">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<div class="info_left_footer">
							<h3>ABOUT US</h3>
							<p>{{content_web}}</p>
						</div> <!-- /info_left_footer -->
					</div> <!-- /col -->
					<div class="col-md-5 col-sm-5">
						<div class="info_right_footer">
							<h3>CONTACT</h3>
							<ul>
								<li> <p><i class="fas fa-map-marker-alt"></i> <span>{{address}}</span></p> </li> 
								<li> <p><i class="fas fa-phone"></i> <span> {{hotline}}</span> </p></li>
								<li><p><i class="fab fa-facebook"></i> <span>{{link_facebook}}</span></p></li>
								<li><p><i class="far fa-envelope"></i> <span>{{email}}</span></p></li>
							</ul>
						</div> <!-- /info_right_footer -->
					</div> <!-- /col -->
				</div> <!-- /row -->
			</div> <!-- /container -->
		</div> <!-- /wrap_info_footer -->

		<div class='scrolltop'>
			<a href="#" class="go-top"><i class="fas fa-arrow-up"></i></a>
		</div> <!-- /scrolltop -->
	</div> <!-- /footer -->